@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(243, 231, 233);
  background: -moz-linear-gradient(
    180deg,
    rgba(243, 231, 233, 1) 0%,
    rgba(251, 252, 219, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(243, 231, 233, 1) 0%,
    rgba(251, 252, 219, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(243, 231, 233, 1) 0%,
    rgba(251, 252, 219, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3e7e9",endColorstr="#fbfcdb",GradientType=1);
}

@media screen and (min-width: 1200px) {
  .buttonCol {
    padding: 0 5rem;
  }
  .uploader-container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .pdf-view-col {
    display: none;
  }

  .headerButton {
    width: 70% !important;
  }
}

.uploader .ant-upload-drag {
  border: 1px dashed #bccadf;
}

.detailsCard .ant-card-head-title {
  text-align: start;
}

.uploader .ant-upload.ant-upload-btn {
  background: #ffffff5e;
  border-radius: 8px;
}

.buttonCol .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  border: 1px solid #4096ff !important;
}

.sider-uploader .ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 16px 8px !important;
}

.chatBubble.user {
  display: flex;
  justify-content: flex-end;
}

.chatBubble.ai {
  display: flex;
  justify-content: flex-start;
}

.chatBubble.ai .chatMessage {
  background: #f9f9fe;
}

.chatMessage {
  white-space: pre-wrap;
  max-width: 500px;
  border-radius: 8px;
  padding: 6px 12px;
  box-shadow: 0 0 3px #d1d2da;
  font-size: 12px;
}

.chatBubble.user .chatMessage {
  background: #4096ff;
  color: #fff;
}

.site-layout-background .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

.sider-uploader {
  padding: 20px;
}

.sider-uploader .ant-upload-drag-icon {
  margin-bottom: 0px !important;
}

.sider-uploader .ant-upload-list.ant-upload-list-text {
  display: none !important;
}
.mobile-nav-menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2b2828;
  opacity: 0.9;
  z-index: 999;
  padding: 5px 5px 15px 5px;
  margin: 40px 5px;
  border-radius: 10px;
}