@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(184, 214, 248);
  background: linear-gradient(
    175deg,
    rgba(184, 214, 248, 1) 10%,
    rgba(253, 214, 235, 1) 100%
  );
}

@media screen and (min-width: 1200px) {
  .buttonCol {
    padding: 0 5rem;
  }
  .uploader-container {
    padding: 0 50px;
  }
}

.uploader .ant-upload-drag {
  border: 1px dashed #bccadf;
}

.detailsCard .ant-card-head-title {
  text-align: start;
}

.uploader .ant-upload.ant-upload-btn {
  background: #ffffff5e;
  border-radius: 8px;
}

